body{
    box-sizing: border-box;
    margin: 0;
}
.img {

}
.structure {
    width: 900px;
    height: 600px;
    object-fit: cover;
}
.structure1 {
    width: 900px;
    height: 600px;
    object-fit: cover;
}
.structure2 {
    width: 900px;
    height: 600px;
    object-fit: cover;
}
.structure3 {
    width: 900px;
    height: 600px;
    object-fit: cover;
}
.structure4 {
    width: 900px;
    height: 600px;
    object-fit: cover;
}
.structure5 {
    width: 900px;
    height: 600px;
    object-fit: cover;
}